@page "/about"
<link href="coco.css" rel="stylesheet" />

<div style="background-image: none;
        background-color: rgba(0,73,255,0.71);" class="about-section">
    <h1>Sobre nós</h1>
    <p>Projeto realizado para a Unidade Curricular de Laboratorios de Informática IV</p>
    
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="Imagens/eu.png" alt="Jane" style="width:100%">
            <div class="container">
                <h2>José Pedro Veloso</h2>
                <p class="title">A89573</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="Imagens/amarelo.png" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Daniel Sousa</h2>
                <p class="title">A89562</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="Imagens/joao.png" alt="John" style="width:100%">
            <div class="container">
                <h2>João Monteiro</h2>
                <p class="title">A53690</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="Imagens/diogo.jpg" alt="Diogo" style="width:100%">
            <div class="container">
                <h2>Diogo Vasconcelos</h2>
                <p class="title">A85059</p>
            </div>
        </div>
    </div>
</div>

@code {

}
