@page "/login"

@using System.Threading;
@using Microsoft.AspNetCore.Components
@using DataLibrary
@using Earth24.models
@using Earth24.Models
@using Microsoft.Extensions.Configuration
@using Earth24.Shared 
@inject IDataAcess _data
@inject IConfiguration _config
@inject NavigationManager NavigationManager1

<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
@*action="/examples/actions/confirmation.php" method="post"*@
<div class="login-form">
    <form>
        <h2 class="text-center">Inicie Sessão</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome de Utilizador" required="required" @bind="Mail">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" @bind="PasswordUser">
        </div>
        <div >
            <button class="btn btn-primary btn-block" @onclick="Login1">Inicie Sessão</button>
        </div>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Lembre-me</label>
        </div>
    </form>
    <p class="text-center"><a href="signup">Cria uma Conta</a></p>
</div>

@code {
    List<UserModel> user1;
    UserModel user;
    public string Username { get; set; }
    public string PasswordUser="";
    public string Mail { get; set; }
    public string passUser { get; set; }
    public string sql1 { get; set; }
    public string usera;
    
    public async Task Login1()
    {

        sql1 = $" CALL mypassword('{Mail}');";
        user1 = await _data.LoadData<UserModel, dynamic>(sql1, new { }, _config.GetConnectionString("default"));
        

       if (user1[0].Password == PasswordUser) Redirect();

    }

    public void Redirect()
    {
        string url = "/login";
        usera = user1[0].Username;
        NavigationManager1.NavigateTo(url + "/" + "user");
       
    }

}
