@page "/signup"

@using DataLibrary
@using Earth24.models
@using Earth24.Models
@using Microsoft.Extensions.Configuration
@inject IDataAcess _data
@inject IConfiguration _config

<div class="container">
    <hr>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>

            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Full name" type="text" @bind="Username1">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Email address" type="email" @bind="Email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone" ></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+971</option>
                        <option value="1">+972</option>
                        <option value="2">+198</option>
                        <option value="3">+701</option>
                    </select>
                    <input name="" class="form-control" placeholder="Phone number" @bind="NumeroTel" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Create password" type="password" @bind="Password1">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repeat password" type="password" />
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button  class="btn btn-primary btn-block" @onclick="InsertData"> Create Account  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="">Log In</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>


@*@if (user == null)
    {
<p><em>Loading...</em></p>
    }
    else
    {
@foreach (var p in user)
        {
<p>
    @p.idUtilizador_Registado @p.Password @p.Nome

</p>


        }

  }*@

@code {

    List<UserModel> user;
    public string Id { get; set; }
    public string sql { get; set; }
    public string Username { get; set; }
    public string Password { get; set; }
    public string Username1 { get; set; }
    public string Password1 { get; set; }
    public string Email { get; set; }
    public string NumeroTel{ get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    string sql = "select * from utilizador_registado";
    //    user = await _data.LoadData<UserModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    //}

    public async Task InsertData()
    {
        //sql1 = $"INSERT INTO utilizador_registado(idUtilizador_Registado, Nome, Password, Pais, Cidade, Rua, Email, Contacto, Username) VALUES(51,'{Username1}','{Password1}','', '', '', '','', ''); ";
        string sql = $"insert into utilizador_registado(idUtilizador_Registado, Nome, Password, Pais, Cidade, Rua, Email, Contacto, Username) Select MAX(idUtilizador_Registado)+1, '','{Password1}', '', '', '','{Email}', '{NumeroTel}', '{Username1}' From utilizador_registado;";
        await _data.SaveData(sql, new { }, _config.GetConnectionString("default"));

    }
}
