@page "/signup"

@using DataLibrary
@using Earth24.models
@using Earth24.Models
@using Microsoft.Extensions.Configuration
@inject IDataAcess _data
@inject IConfiguration _config

<div class="container">
    <hr>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Cria uma Conta</h4>
            <p class="text-center">Insira os seus dados</p>

            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Nome de Utilizador" type="text" @bind="Username1">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Endereço de Email" type="email" @bind="Email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone" ></i> </span>
                    </div>
                    <select class="custom-select" style="max-width: 120px;">
                        <option selected="">+351</option>
                        <option value="1">+972</option>
                        <option value="2">+198</option>
                        <option value="3">+701</option>
                    </select>
                    <input name="" class="form-control" placeholder="Número de Telemovel" @bind="NumeroTel" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Crie uma Password" type="password" @bind="Password1">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repita a Password" type="password" />
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button  class="btn btn-primary btn-block" @onclick="InsertData"> Crie a sua Conta  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Têm uma conta? <a href="login">Inicie Sessão</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>


@code {

    List<UserModel> user;
    public string Id { get; set; }
    public string sql { get; set; }
    public string Username { get; set; }
    public string Password { get; set; }
    public string Username1 { get; set; }
    public string Password1 { get; set; }
    public string Email { get; set; }
    public string NumeroTel{ get; set; }


    public async Task InsertData()
    {
        //sql1 = $"INSERT INTO utilizador_registado(idUtilizador_Registado, Nome, Password, Pais, Cidade, Rua, Email, Contacto, Username) VALUES(51,'{Username1}','{Password1}','', '', '', '','', ''); ";
        string sql = $"insert into utilizador_registado(idUtilizador_Registado, Nome, Password, Pais, Cidade, Rua, Email, Contacto, Username) Select MAX(idUtilizador_Registado)+1, '','{Password1}', '', '', '','{Email}', '{NumeroTel}', '{Username1}' From utilizador_registado;";
        await _data.SaveData(sql, new { }, _config.GetConnectionString("default"));

    }
}
