@inherits LayoutComponentBase

<div class="page">
    <div style="        background-image: none;
        background-color: rgba(0,73,255,0.71);" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="about" target="_blank">Sobre Nós</a>
            <a href="SignUp" target="_blank">Registo</a>
            <a href="login" target="_blank">Login</a>
            @if (logged == true)
            {
                <a href="" target="_blank">Bem Vindo @username</a>
            }
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{

    public bool logged=false;
    public string username;

    public void ImLogged(string username1)
    {
        logged = true;
        username = username1;
    }

}