@inherits LayoutComponentBase

<div class="page">
    <div style="        background-image: none;
        background-color: rgba(0,73,255,0.71);" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="about" target="_blank">About</a>
            <a href="user" target="_blank">User</a>
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
